{
	"parser": "@typescript-eslint/parser",
	"extends": [
		"standard",
		"eslint-config-prettier"
	],
	"env": {
		"node": true,
		"es6": true
	},
	"overrides": [{
		"files": ["*.spec.ts"],
		"env": {
			"jest": true
		}
	}],
	"plugins": ["@typescript-eslint"],
	"rules": {
		"quotes": ["error", "single"],
		"no-unused-vars": "off",
		"no-useless-constructor":"off",
		"no-dupe-class-members": "off",
		"camelcase": "warn",
		"@typescript-eslint/no-unused-vars": "error",
		"@typescript-eslint/no-array-constructor": "error",
		"@typescript-eslint/adjacent-overload-signatures": "error"
	}
}